/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  background-color: #F5DF4D;
}

h1,
h2,
h3,
h4, p {
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 8em;
}

.section-title {
  margin-bottom: 0.5em;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 80%;
}

.section-description {
  color: #282D3C;
  margin-bottom: 24px;
}

.section-link {
  background-color: #363945;
  padding: .8em 1.2em;
  border-radius: 24px;
  color: whitesmoke;
  text-decoration: none;
}

/* Media queries */

@media (min-width: 650px) {
  .container {
    max-width: 80%;
  }


 .container {
    padding-top: 8em;
  }

  .section-title {
    font-size: 4rem;
  }

  .section-description {
    font-size: 1.2rem;
  }

}
